<footer>
    <div class="container flex-lc">
        <a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <button type="button" class="btn-whitepaper txt-md">Whitepaper</button>
        <div class="social flex">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
        </div>
    </div>
</footer>