<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.png" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li><a href="#home" title="Home" class="active">Home</a></li>
                    <li><a href="#about" title="About">About</a></li>
                    <li><a href="#roadmap" title="Roadmap">Roadmap</a></li>
                </ul>
                <div class="social flex">
                    <a href="" title="telegram" class="telegram">telegram</a>
                    <a href="" title="twitter" class="twitter">twitter</a>
                </div>
            </div>
        </nav>
    </div>
</header>
