<main>
    <div id="home" class="milady-frame1 scroll">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1 data-aos="fade-up">MiladyChain</h1>
                        <p class="txt-lg" data-aos="fade-up" data-aos-delay="300">is focused on building the layer 1 foundation for the Milady ecosystem.</p>
                        <div class="box-btn flex" data-aos="fade-up" data-aos-delay="600">
                            <a href="" title="DOCS" class="btn-doc flex-center txt-sm">DOCS</a>
                            <a href="" title="Join Fair Launch" class="btn-join flex-center txt-sm">Join Fair Launch</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-milady.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="milady-frame2 scroll">
        <div class="box-btn flex">
            <a href="" title="MiladyChain" class="flex-center txt-md" data-aos="fade-up">MiladyChain</a>
            <a href="" title="Milady Exchange" class="flex-center txt-md" data-aos="fade-up" data-aos-delay="200">Milady Exchange</a>
            <a href="" title="Milady Launchpad" class="flex-center txt-md" data-aos="fade-up" data-aos-delay="400">Milady Launchpad</a>
            <a href="" title="Milady Marketplace" class="flex-center txt-md" data-aos="fade-up" data-aos-delay="600">Milady Marketplace</a>
        </div>
        <div class="about-milady">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content txt-md">
                            <h2 class="title">About MiladyChain</h2>
                            <p>Our team comprises ambitious young individuals who love Elon Musk and determined to attain global success. We envision Milady to transcend its current status as a mere meme or emoji shared on platforms like Twitch or Discord and become an integral part of our lives. Milady represents our passion to revolutionize the cryptocurrency realm!</p>
                            <p>Inspired by Elon Musk's tweet, the MiladyChain project was born with a complete product and a token that has a clear use case.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-wrapper pr">
                            <img src="./assets/img/img-thumb-1.png" class="img img--1" alt="">
                            <img src="./assets/img/img-thumb-2.png" class="img img--2" alt="">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="txt-md my-5 font-italic">The project focuses on building four main products:</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="txt-sm font-weight-bold mb-1">MiladyChain:</h4>
                        <p class="txt-sm">A standalone blockchain layer that utilizes the MiladyChain token.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="txt-sm font-weight-bold mb-1">Milady Exchange:</h4>
                        <p class="txt-sm">A decentralized exchange that provides liquidity and trading services for the ecosystem.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="txt-sm font-weight-bold mb-1">Milady Launchpad:</h4>
                        <p class="txt-sm">A platform designed to support builders and developers in bringing their products to the community more easily.</p>
                        <p class="txt-sm">We also offer thorough consulting and vetting for projects.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="txt-sm font-weight-bold mb-1">Milady Marketplace:</h4>
                        <p class="txt-sm">An NFT marketplace specifically tailored for projects running on the MiladyChain network.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-token">
            <div class="container">
                <div class="token flex-lc">
                    <div class="token__img"><img src="./assets/img/img-thumb-3.png" alt=""></div>
                    <div class="token__info txt-md" data-aos="fade-left">
                        <h3>Tokenomics</h3>
                        <p>Token: <span>LADYCHAIN</span></p>
                        <p>Total Supply:</p>
                        <p>Buy Tax: <span>0%</span></p>
                        <p>Sell Tax: <span>4%</span></p>
                        <p><span>1%</span> Lastest Buy Pool: If there are no buys over 0.1 BNB for 10 minutes, the Pool will reward the last buyer</p>
                        <p><span>1%</span> Buy Back & Burn Token</p>
                        <p><span>2%</span> Marketing and Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="roadmap" class="milady-frame3 scroll">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Roadmap</h2>
                <p class="txt-md">Explore our roadmap and embark on the exciting journey we have envisioned with MiladyChain as we aim for astronomical success!</p>
            </div>
            <div class="pase-list flex">
                <div class="phase">
                    <h4 class="txt-xl">Phase 1</h4>
                    <ul class="txt-sm" data-aos="fade-up">
                        <li>Website and Whitepaper</li>
                        <li>Community Building</li>
                        <li>KYC & Audit</li>
                        <li>Global Marketing Campaign</li>
                        <li>Social Media Ads Campaign</li>
                    </ul>
                </div>
                <div class="phase">
                    <h4 class="txt-xl">Phase 2</h4>
                    <ul class="txt-sm" data-aos="fade-up" data-aos-delay="200">
                        <li>Fair Launch on Pinksale</li>
                        <li>MiladyChain Testnet and Explorer Deploy</li>
                        <li>Viral Twitter Marketing Campaign</li>
                        <li>Mainnet Launch Announcement</li>
                    </ul>
                </div>
                <div class="phase">
                    <h4 class="txt-xl">Phase 3</h4>
                    <ul class="txt-sm" data-aos="fade-up" data-aos-delay="400">
                        <li>PancakeSwap listing</li>
                        <li>Milady Exchange Goes Live</li>
                        <li>CoinMarketCap Listing</li>
                        <li>CoinGecko Listing</li>
                        <li>CEX Listing Announcement</li>
                        <li>Launchpad Registration Form.</li>
                    </ul>
                </div>
                <div class="phase">
                    <h4 class="txt-xl">Phase 4</h4>
                    <ul class="txt-sm" data-aos="fade-up" data-aos-delay="600">
                        <li>AMA With Top Global Community</li>
                        <li>SpaceX Billboard</li>
                        <li>Paid Marketing & Media Campaign</li>
                        <li>First Launchpad Announcement</li>
                        <li>NFT Marketplace Deploy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>