:root{
  --orange: #FF6E40;
  --black: #140000;
  --playfair: 'Playfair Display', sans-serif;
}
body{
  background: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 21px;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #fff;
  position: fixed; z-index: 9;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 17px 0;
  border-radius: 0; border: none;
  .logo{width: 301px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 95px; align-items: center;
  >*+*{margin-left: 48px;}
  > li{display: flex; align-items: center;}
  > li > a{display: block; padding: 0 10px; font-size: 20px; font-weight: 500; color: #000; line-height: 36px; position: relative;}
  a:hover,.active{color: #5B6E93;}
}

//main
main{min-height: 78vh; padding-top: 79px;}
.milady-frame1{
  background: #FFEDE9;
  padding: 158px 0 222px;
  h1{margin-bottom: 25px; font: 64px/1.36 'Playfair Display', sans-serif;}
  .content{padding-top: 95px;}
  .box-btn{
    margin-top: 39px;
    >*+*{margin-left: 31px;}
    a{height: 40px; padding: 0 6px; font-weight: 700; text-transform: uppercase;}
    .btn-doc{
      min-width: 102px; border: 2px solid #000000; color: #000;
      &:hover{color: #5B6E93;}
    }
    .btn-join{
      min-width: 237px; background: #000; color: #FFEDE9;
      &:hover{background: #5B6E93; color: #FFEDE9;}
    }
  }
  .img-wrapper{margin: 0 -12px 0 -74px; animation: flash .5s infinite linear;}
}
.milady-frame2{
  background: #FBFAEC;
  padding: 92px 0 102px;
  .box-btn{
    justify-content: center;
    margin: 0 -11px;
    a,button{
      margin: 11px;
      height: 70px;
      padding: 0 10px;
      min-width: 302px;
      border: 2px solid #000000;
      border-radius: 9px;
      font-weight: 700;
      &:hover{background: #000; color: #fff;}
    }
  }
  .about-milady{
    max-width: 1436px; padding: 65px 0 96px; margin: 98px auto 0; background: #FFEDE9;
    .content{
      p{margin-bottom: 35px;}
      p:last-child{margin-bottom: 0;}
    }
    .row{margin-left: -10px; margin-right: -10px;}
    .col-md-6,.col-md-3,.col-md-12{padding: 0 10px;}
  }
  .img-wrapper{
    padding-top: 15.5%;
    .img{
      &--1{width: 56.8%; position: relative; z-index: 2;}
      &--2{width: 51.2%; margin-left: auto; position: absolute; right: 0; top: 0;}
    }
  }
  .box-token{
    padding-top: 113px;
  }
  .token{
    &__img{width: 42.3%;}
    &__info{width: 57.7%; padding-left: 8%;}
    h3{margin-bottom: 25px; font: 48px/64px var(--playfair);}
    p{margin-bottom: 16px;}
    p:last-child{margin-bottom: 0;}
    span{font-weight: 700; color: #F98499;}
  }
}
.milady-frame3{
  padding: 109px 0; background: rgba(#FFEDE9,.5);
  .header{max-width: 950px; margin: 0 auto 80px;}
  .phase{
    width: 25%;
    h4{
      margin-bottom: 54px;
      padding-bottom: 59px;
      border-bottom: 1px solid #000;
      text-align: center; color: #5B6E93;
      font-weight: 700; font-family: var(--playfair);
      position: relative;
      &::after{
        content: "";
        width: 1px; height: 70px;
        background: #000;
        position: absolute; left: 50%; bottom: -35px;
      }
    }
  }
  ul{
    color: #425273;
    li{max-width: 307px; position: relative; padding-left: 33px;}
    li::before{
      content: "";
      width: 5px; height: 5px;
      background: #425273;
      border-radius: 50%;
      position: absolute; left: 14px; top: 15px;
    }
  }
}

footer{
  padding: 17.5px 0;
  background: #fff;
  position: relative;
  .social{margin-left: 0;}
  .btn-whitepaper{margin: 0 58px 0 auto; color: #000; font-weight: 500;}
}

//uikit

.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.social{
  margin-left: auto;
  >*+*{margin-left: 45px;}
  a{display: block; font-size: 0; width: 31px; height: 25px; filter: brightness(0); -webkit-filter: brightness(0);}
  a:hover{filter: brightness(1); -webkit-filter: brightness(1);}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat;}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat;}
}
.title{
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Playfair Display', sans-serif;
}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

.txt-sm{font-size: 20px; line-height: 36px;}
.txt-md{font-size: 24px; line-height: 36px;}
.txt-lg{font-size: 32px; line-height: 42px;}
.txt-xl{font-size: 48px; line-height: 64px;}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.btn-pr,.btn-sub{
  display: flex; align-items: center;
  height: 40px; padding: 0 20px;
  font-size: 14px; line-height: 21px;
}
.btn-pr{
  background: var(--orange);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  &:hover{background: #BF5330; color: #fff;}
}
.btn-sub{
  background: #FFFFFF;
  border: 1px solid #D0CCCC;
  border-radius: 8px;
  color: var(--orange);
  &:hover{color: currentColor; background: #D0CCCC;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}

@media (min-width: 1366px) {
  .container{max-width: 1304px;}
}
@media (max-width: 1440px) {
  .milady-frame1{
    padding: 88px 0 105px;
    h1{font-size: 62px;}
    .content{padding-top: 65px;}
    .box-btn{
      >*+*{margin-left: 24px;}
      .btn-doc{min-width: 98px;}
      .btn-join{min-width: 220px;}
    }
  }
  .milady-frame2{
    padding: 72px 0;
    .box-btn{
      a,button{min-width: 260px;}
    }
    .about-milady{margin-top: 64px;}
    .box-token{padding-top: 83px;}
  }
  .milady-frame3{
    padding: 79px 0;
  }

  .txt-lg{font-size: 30px; line-height: 40px;}
  .txt-md{font-size: 22px; line-height: 34px;}
  .txt-sm{font-size: 19px;}
}


@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{margin-left: 25px;}
  }
  .navbar{
    width: 100%; padding: 16px 0; min-height: auto; justify-content: flex-start;
    .logo{width: 220px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 64px; left: -100%;
    width: 100%; height: calc(100% - 64px);
    padding: 0;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0; border-top: 1px solid #ccc;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #1C1B1F; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #1C1B1F; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 40px 0 0;}
    > li > a{line-height: inherit;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  main{padding-top: 65px; overflow: hidden;}
  .milady-frame2{
    .box-btn{
      a,button{min-width: 21%;}
    }
  }

  footer{
    .logo{width: 220px;}
    .btn-whitepaper{margin-right: 10px;}
  }
  .social{
    >*+*{margin-left: 25px;}
  }

  .container{max-width: 100%;}
}

@media (max-width: 820px) {
  .milady-frame1{
    .img-wrapper{margin: 0 -12px 0 -24px;}
    .content{padding-top: 0;}
  }
  .milady-frame2{
    .box-btn{
      margin: 0;
      flex-wrap: nowrap;
      overflow: auto;
      justify-content: flex-start;
      &::-webkit-scrollbar{height: 3px;}
      &::-webkit-scrollbar-thumb{background: #888;}
      &::-webkit-scrollbar-track{background: #ccc;}
      a,button{min-width: 240px;}
    }
  }
  .milady-frame3{
    .phase{width: 50%; margin-bottom: 30px;}
  }
}

@media (max-width: 767px) {
  .milady-frame1{
    .img-wrapper{margin: 30px 0 0;}
  }
  .milady-frame2{
    .img-wrapper{margin-top: 30px;}
    .about-milady{
      padding: 60px 0; margin-top: 50px;
      .col-sm-6{margin-bottom: 30px;}
    }
  }
}

@media (max-width: 480px) {
  .milady-frame1{
    padding: 65px 0;
    h1{margin-bottom: 15px; font-size: 56px;}
    .box-btn{
      >*+*{margin-left: 16px;}
    }
  }
  .milady-frame3{
    padding: 60px 0;
    .header{margin-bottom: 50px;}
    .phase{width: 100%;}
  }
  .milady-frame2{
    padding: 52px 0;
    .box-btn{
      a,button{height: 60px; min-width: 210px; padding: 0 5px;}
    }
    .token{
      h3{font-size: 38px; line-height: 1.4;}
      &__img{width: 100%;}
      &__info{padding: 30px 0 0 0; width: 100%;}
    }
    .box-token{padding-top: 60px;}
  }

  footer{
    .logo{margin-bottom: 15px;}
    .btn-whitepaper{width: 60%; margin: 0; text-align: left;}
    .social{margin-left: auto;}
  }

  .txt-xl{font-size: 42px; line-height: 56px;}
  .txt-lg{font-size: 26px; line-height: 34px;}
  .txt-sm{font-size: 18px; line-height: 30px;}
  .txt-md{font-size: 20px; line-height: 30px;}
  .title{font-size: 38px; line-height: 1.5;}
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}